<div id="landing" class="navbar">
  <%= render "navbar" %>
</div>

<div id="center_column">
  <div class="sample_containers" id="sample_container1">
    <%= link_to image_tag("logo"), "http://arcane-stream-86572.herokuapp.com/" %>
    <%= link_to "http://arcane-stream-86572.herokuapp.com/", class: "sample_description" do %>
      <div class="sample_description"></div>
      <%= link_to "http://arcane-stream-86572.herokuapp.com/", class: "sample_text" do %>
        <p>VIEW</p>
        <p>PROJECT</p>
      <% end %>
    <% end %>
  </div>
  <div class="sample_containers" id="sample_container2">
    <%= link_to image_tag("chess1"), "https://github.com/johnjmarks4/chess" %>
    <%= link_to "https://github.com/johnjmarks4/chess", class: "sample_description" do %>
      <div class="sample_description"></div>
      <%= link_to  "https://github.com/johnjmarks4/chess", class: "sample_text" do %>
        <p>VIEW</p>
        <p>PROJECT</p>
      <% end %>
    <% end %>
  </div>
</div>