<div id="logo_container">
  <div id="logo"></div>
</div>

<div id="header_toggler" onclick="toggleHeader()">
  <table id="button_panel"> 
    <%= content_tag(:tr, class: "buttons", id: on_page("home")) do -%>
      <td class="button_transform">
        <td>
          <%= link_to "HOME", root_path, class: "text_display" %>
        </td>
      </td>
    <% end -%>
    <%= content_tag(:tr, class: "buttons", id: on_page("about")) do -%>
      <td class="button_transform">
        <td>
          <%= link_to "ABOUT", about_path, class: "text_display" %>
        </td>
      </td>
    <% end -%>
    <%= content_tag(:tr, class: "buttons", id: on_page("skills")) do -%>
      <td class="button_transform">
        <td>
          <%= link_to "SKILLS", skills_path, class: "text_display" %>
        </td>
      </td>
    <% end %>
    <%= content_tag(:tr, class: "buttons", id: on_page("my_work")) do -%>
      <td class="button_transform">
        <td>
          <%= link_to "MY WORK", my_work_path, class: "text_display" %>
        </td>
      </td>
    <% end -%>
    <%= content_tag(:tr, class: "buttons", id: on_page("contact")) do -%>
      <td class="button_transform">
        <td>
          <%= link_to "CONTACT", contact_path, class: "text_display" %>
        </td>
      </td>
    <% end -%>
  </table>
</div>

<ul>
  <li id="twitter"><%= link_to "", "https://twitter.com/johnjmarks" %></li>
  <li id="linkedin"><%= link_to "", "https://twitter.com/johnjmarks" %></li>
  <li id="facebook"><%= link_to "", "https://www.facebook.com/john.j.marks.1" %></li>
  <li id="rss"></li>
</ul>

<script>
  function toggleHeader() {
    var header = document.querySelector("#button_panel");
    if (header.style.left == "100%") {
      header.style = "left: 0; opacity: 1;";
      var toggler = document.querySelector("#header_toggler");
      toggler.style["background-position"] = "0px -150px";
      console.log(toggler.style);
    } else {
      header.style = "left: 100%; opacity: 0;";
      toggler.style["background-position"] = "auto";
    }
  }
</script>